// $mainColor: #F9F9F0;
$mainColor: linear-gradient( 180.6deg,  rgba(202,208,231,1) 5%, rgba(255,255,255,1) 101.6% );
// $mainColor: #cad0e7;
// $secondaryColor: #864b3d;
$secondaryColor: #a57c3e;
// $secondaryColor: rgb(95, 46, 5);
// $secondaryColor: rgb(95, 46, 5);
// $textColor: #3C3C3B;
$textColor: #429282;
// $textColor: #429381;
// $barColor: #b98036;
// $barColor: #8f9ccd;
$barColor: #84c7ba;
// $barColor: #b98036;
// $barSecond: rgb(95, 46, 5);
// $barSecond: #425292;
$barSecond: #429282;